# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]
    branches:
      - stable

jobs:

  DeployToPypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: python3 -m pip install --upgrade pip build

      - name: Build package
        run: python3 -m build .

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@bea5cda687c2b79989126d589ef4411bedce0195
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
